*{
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background-color: #f99b53;

}

.navBar {
  background-color: #556591;

}

nav ul a {
  font-size: 25px;
}
h1 {
  color: #F7C331;
    text-shadow: 2px 2px #6B7A8F;
}
h5 {
  color: #556591;
    /*text-shadow: 2px 2px white;*/
}
h4 {
  color: #556591;
    /*text-shadow: 2px 2px white;*/
}
#logo{
    color: white;
    /*text-shadow: 2px 2px white;*/
}
#flt{
  color:  #F7C331;
  float: left;
  text-shadow: 2px 2px #6B7A8F;
}
#la{
  color: #F7C331;
  text-shadow: 2px 2px #6B7A8F;
}
.divider{
  overflow: scroll;
}
